<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <style>
        body { 
            font-family: sans-serif; 
            margin: 20px; 
        }
        nav a { 
            margin-right: 15px; 
        }
        .imgDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
    <!-- <h1>Welcome to the {{.PageName}} Page!</h1>
    <p>This is dynamic content from your Go server.</p>
    <p>Current Time: {{.CurrentTime}}</p> -->
    <div class="imgDiv">
        <img 
            class="img"
            src="http://10.0.4.41:8080/static/Pics1/images_part_001/83bcf227931a9595.jpg"
        >
    </div>
</body>
</html>
