<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlideShow</title>
    <style>
        body { 
            margin: 20px; 
            background-color: black;
        }
        .imgDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="imgDiv">
        <img 
            class="img"
            src="{{.Http}}"
            alt="{{.Name}}"
        >
    </div>
</body>
</html>
